#donations {
  display: flex;
  gap: 20px;          /* space between cards */
  flex-wrap : wrap;
  margin: 40px;
  position: relative;
  background: url('pictures/background.png') center/cover;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;

}


#donations .card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
  transition: transform 0.3s;
  animation: float 3s ease-in-out infinite;
  margin-bottom : 0%;

}

.card h3 {
  margin-top: 0;
  font-family: 'Josefin Sans', sans-serif;
}
.card:hover {
  transform: translateY(-5px); /* hover floating effect */
}